.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-width: 400px;
}

/* Header */
.header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 59, 126, 1);
}

.site-logo {
    width: auto;
}

.site-menu {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu > li {
    display: flex;
    min-height: 80px;
}

.menu-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 0 18px;
    background-color: #213B7E;
}

.menu-link:hover {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #EA5D21;
    text-decoration: none;
}
.popup-button {
    width: 153px;
    height: 50px;
    left: 644px;
    top: 472px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #EA6113;
}

/* Login popup */
.login-popup {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 115%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: white;
    border: 1px solid #213B7E;
    box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.25);
}

.login-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #000000;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form > input {
    width: 100%;
    max-width: 400px;
    min-height: 55px;
    margin-bottom: 56px;
    font-size: 20px;
    border: 1px solid #808080;
}

.popur-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA6113;
    border: none;
}

.login-form > input {
    padding: 0 1em;
}

/* Main */
.main {
    box-sizing: border-box;
    width: 100%;
    max-width: 911px;
    margin: 0 auto;
    padding: 0 2vw;
    flex-grow: 1;
}

.class-photo {
    object-fit: cover;
    width: 100%;
    max-width: 523px;
    height: 316px;
}

.main-heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.intro-text {
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.intro-text > strong {
    font-weight: 700;
}

.intro-text > em {
    color: #CF5510;
    font-style: italic;
}

/* Aside */

.learning {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #646464;
    float: right;
}

.learning > blockquote {
    margin: 20px;
    position: relative;
}

.learning > blockquote::before {
    content: '\201C';
    position: absolute;
    left: -18px;
    top: -4px;
}

.learning > blockquote::after {
    content: '\201D';
}

/* Students */
.main-students {
    max-width: 1202px;
}

.students {
    display: flex;
    flex-wrap: wrap;
    max-width: 1202px;
    gap: 50px;
}

.student-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #f6b6ab;
}

/* .student-link:nth-child(2n+1) {
    background-color: #117e77;
} */

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* outline: 1px solid black; */
    box-sizing: border-box;
    padding: 1em;
    width: 200px;
}

@media (min-width: 1150px) {
    .student-link {
        max-width: calc(100% / 2);
    }    
}

.student > img {
    min-height: 270px;
}

.student-name {
    font-size: 17px;
    display: block;
    text-align: center;
}

.newbie {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.newbie::before {
    position: absolute;
    font-size: 17px;
    right: -10px;
    top: -6px;
    content: "НОВИЧОК";
    background: #3AA828;
    padding: 0 4px;
    border-radius: 20px;
    color: #FFFFFF;
}

/* About */
.main-about {
    max-width: 820px;
}

.about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.about-video {
    width: 100%;
    min-height: 550px;
    height: 315px; 
    border: 0;
}

/* Contacts */
.contacts-about {
    max-width: 100%;
}

.contacts-heading {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-text-heading {
    max-width: 820px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.contacts-mars {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 15px;
}

.yandex-map {
    width: 100%;
}

.contacts-address, 
.contacts-tel {
    max-width: 820px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

/* Footer */
.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 59, 126, 1);
}

.copywrite {
    color: rgba(255, 255, 255, 0.5);
}

.inoop-link {
    color: rgba(255, 255, 255, 0.5);
}

/* Responsive */
@media (max-width: 630px) {
    .header {
        justify-content: center; 
        padding: 1em 16px;
        gap: 1em;
    }
    .site-logo {
        width: 100%;
        min-height: 80px;
    }
    .site-menu {
        justify-content: center;
    }
}

/* JS */
.active-link {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.show-popup {
    display: block;
}

.login-input:invalid {
    outline: 5px solid red;
}